.main {
  width: 100%;
  background-color: white;
  .header {
    background-color: #9f106a;
    height: 59.63px;
    font-weight: bold;
    font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    &__logo {
      font-size: 2.2em;
      font-weight: bold;
      font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      text-shadow: 1px 1px 0px black;
      text-align: center;
      padding-top: 8px;
    }
    .logo {
      color: white;
      text-decoration: none;
    }
    &__nav {
      background-color: transparent;
      border-bottom: solid 1.5px rgb(245, 243, 243);
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
      a {
        text-decoration: none;
      }
      .menu_title {
        font-size: 80%;
        font-weight: bold;
        color: #333355;
        text-align: center;
        padding: 0px 12px 5px;
        margin: 0px 18px 0px;
      }
      .menu_desc {
        color: gray;
        font-size: 12px;
        padding: 0px 5px;
        margin: 1px 18px 0px;
        text-align: center;
      }
    }
    &__article {
      display: flex;
      justify-content: center;
      margin: 20px 0px 0px;
      padding: 16px;

      image {
      
      }

      a {
        text-decoration: none;
      }

      .new-topic {
        background-color: green;
        color: black;
        font-size: 80%;
        font-weight: bold;
      }
    }
  }
  .center {

  }
}
